//  按照UI规范配置常用颜色

// 常用颜色
.color-red {
    color: $color-red;
}

.color-balck {
    color: rgba(51, 51, 51, 1);
}

.color-golden {
    color: $color-golden;
}

.color-black {
    color: $color-black;
}

.color-line {
    color: $color-line;
}

.color-white {
    color: $color-white;
}

.color-disabled {
    color: $color-disabled;
}

// 常用背景色
.bg-color-white {
    background: $color-white;
}

.bg-color-golden {
    background: $color-golden;
}

.bg-color-regular {
    background: $bg-color-regular;
}

.bg-color-secondary {
    background: $bg-color-secondary;
}

.bg-color-gray {
    background: rgba(245, 245, 245, 1);
}

.bg-color-submit {
    background: rgba(181, 159, 127, 1);
}